.searchCtn{
    background-image:url("../fondoSearch.jpg");
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sand-serif;
}
.searchCtn input{
    width: 300px;
    height:60px;
    font-size: 20px;
    padding-left: 10px;
}
p{  
    width: 315px;
    height: 40px;
    background-color: white;
    margin: 0px;
    font-size: 18px;
}
.btnSearch{
    margin-top: 1.5rem !important;
}